/*
	==================================
	Styling for custom select boxes
	==================================
*/

.yaselect-select {
	position: absolute;
}

.yaselect-anchor {
	display: inline-block;
	*display: inline;
	position: relative;
	*zoom: 1;
}

.yaselect-wrap {
	background: url(images/yaselect-gradient.png) repeat top left;
	border: 1px solid #c2cbc2;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	font-size: 17px;
	height: 38px;
	line-height: 38px;
	outline: none;
}

.yaselect-wrap .yaselect-current {
	font-weight: lighter;
	height: 100%;
	overflow: hidden;
	padding: 0 0 0 8px;
	position: relative;
	white-space: nowrap;
}

.yaselect-wrap .yaselect-current .yaselect-right-image {
	background: url(images/yaselect-arrow.png) no-repeat right center;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 52px;
}

select {
	outline: none !important;
	margin: 0;
}

/*
	=====================================
	End styling for custom select boxes
	=====================================
*/